body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.header-bar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    font-size: 1.5em;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    margin-left: 15px;
}

.header-right a:hover {
    text-decoration: underline;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    color: #007bff;
}

main {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 50%;  /* Adjusted width for title input box */
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.toast {
    visibility: hidden;
    max-width: 50%;
    margin: 0 auto;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast.error {
    background-color: #dc3545;
}

@keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 30px; opacity: 1; }
}

@keyframes fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
}

/* Additional styles for the thank you page */
.thank-you-message {
    font-size: 1.5em;
    color: #28a745;
    text-align: center;
    margin: 20px 0;
}
