body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #fff;
    margin:0 ;
    padding: 0;
}


/* Large screens (desktops) */
@media only screen and (min-width: 414px) {
    .header {
     margin: 0;
    }

  }
  
  /* Extra large screens (large desktops) */
  @media (min-width: 120px) {
    .container-Complain {
      width:50%;
    }
  }

h2,h3,h4,h5,h6{

    color: black;
    margin-left: 18px;
}



li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}




li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}
   







.list-complain{
    margin-top: 30px;
    padding: 0px 0px 0px 50px;
    text-align: center;
}

.content-table {
    width: 50%; 
    margin: 0 auto; 
    border-collapse: collapse;
   
    font-size: 0.9em;
    min-width: 400px;
    color: black;
}

.content-table tbody tr{

    border-bottom: 1px solid #dddddd;

}
.content-table  thead tr{

    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 20px;
  

}

.content-table tr,
.content-table td{
    padding: 20px 50px;


}

.content-table .action-btn{
    
}



/* Response.html CSS*/





.container-Complain {
    border: 2px solid #dddddd; 
    padding: 20px; 
    margin: 50px auto; 
    max-width: 600px; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Complain-detail{
    display: flex;
    
    align-items: center;
    margin: 20px 20px;
}
.Complain-detail form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 0px;
    box-sizing: border-box;
}
.comp-form{
margin-left:-3% ;
}

.action-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
   
}

.action-btn a{
   
}

.action-btn:hover {
    background-color: #0056b3;
}

.dropdown {
    margin: 20px -10px;
    display: flex;
    align-items: center;
}

.dropdown label {
    margin-right: 10px;
    color: #000;
}

.dropdown select {
    margin-left: 10px;
    padding: 5px;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
}


.btn{
    margin:0% 0% 0% 2% ;
    padding: 10px 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


/*


.submit:hover {
    background-color: #0056b3;
}


*/



/* Replysuccessful.html CSS */

.success-message h2, .success-message p {
    margin: 20px 0;
}

.success-message a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    
}

.success-message a:hover {
    background-color: #264990;
}


.container-complain, .success-message {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.success-message h2{

    color:#007bff
}

.success-message p{

    color:#099d2b;
    font-weight: bold;

}






.list-complain header {
    
    display: inline-block;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.list-complain .title {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.addWorker {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    margin-left: 10%;
    
}

.Back {
    background-color: #007bff;
    color: white;
    padding: 10px 35px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    margin-left: -25%;
    
}

.position input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}