body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #fff;
    margin:0 ;
    padding: 0;
}


/* Large screens (desktops) */
@media (min-width: 992px) {
    .header {
      width: 100%;
      background-color: lightcoral;
    }

  }
  
  /* Extra large screens (large desktops) */
  @media (min-width: 1200px) {
    .container-Complain {
      width:50%;
    }
  }

h2,h3,h4,h5,h6{

    color: black;
    margin-left: 18px;
}

.admin-title{

    padding: 0px 10px ;
    font-size: 24px;
    
    

}

.header{
display: flex;
background-color: #007bff;
padding:20px;
margin:0 ;




}

.header .logout-btn{

    padding: 20px 0px 0px 0px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    margin:0% 0% 0% 70% ;
   
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

 
}



.list-complain{
    padding: 0px 0px 0px 50px;
    text-align: center;
}

.content-table {
    width: 50%; 
    margin: 0 auto; 
    border-collapse: collapse;
    border-bottom: 1px solid #dddddd;
    font-size: 0.9em;
    min-width: 400px;
    color: black;
}


.content-table  thead tr{

    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;

  

}

.content-table tr,
.content-table td{
    padding: 12px 50px;


}

.content-table .action-btn{
    margin:0% 0% 0% 0% ;
}



/* Response.html CSS*/



.container-Complain {
    border: 2px solid  #dddddd; 
    padding: 20px; 
    margin: 50px 700px 20px 400px; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.complain-detail{
   display: flex;
   margin: 50px;
}

.complain-detail form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}





.action-btn {
    margin:0% 0% 0% 0% ;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}



.action-btn:hover {
    background-color: #0056b3;
}

.dropdown {
    margin: 20px -60px;
    display: flex;
    align-items: center;
}

.dropdown label {
    margin-right: 10px;
}

.dropdown select {
    padding: 5px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}


.btn{
    margin:0% 0% 0% 0% ;
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


/*


.submit:hover {
    background-color: #0056b3;
}


*/



/* Replysuccessful.html CSS */

.success-message h2, .success-message p {
    margin: 20px 0;
}

.success-message a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    
}

.success-message a:hover {
    background-color: #264990;
}


.container-complain, .success-message {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.success-message h2{

    color:#007bff
}

.success-message p{

    color:#099d2b;
    font-weight: bold;

}